# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan output
*.tfplan

# Sensitive files
.terraform.lock.hcl

# Notes
/notes.txt

# .pem files
*.pem
